<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Action</title>

    <style>
    
      .error {
        color: red;
        font-weight: bold;
      }

    </style>
  </head>
  <body>
    <h1>Site Intercept Variables</h1>
    <Label>
      Zone ID
      <input id="zoneCode" type="text" minlength="18" maxlength="18" required>
      <p class="error"></p>
    </Label>
    <Label>
      Organization ID 
      <input id="organizationId" type="text" minlength="1" required>
      <p class="error"></p>
    </Label>  
    <h3>LOCATION OF SETTINGS IDS HERE</h3>
    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
      var zoneCodeInput = document.getElementById("zoneCode");
      var organizationIdInput = document.getElementById("organizationId");
      window.extensionBridge.register({
        init: function(info) {
          if (info.settings) {
            // TODO Populate form values from persisted settings.
            zoneCodeInput.value = info.settings.zoneCode,
            organizationIdInput.value = info.settings.organizationId
          }
        },

        getSettings: function() {
          // TODO Return settings object from form values.
          return {
            zoneCode: zoneCodeInput.value,
            organizationId: organizationIdInput.value
          }
        },

        validate: function() {

          var zoneCodeError = "Zone code is required and must be 18 characters"
          var orgIdError = "Organization ID is required"
          if ( zoneCodeInput.checkValidity() && organizationIdInput.checkValidity() ) {
              return true;
          } else {
            if ( !zoneCodeInput.checkValidity() ) {
              document.querySelector("#zoneCode + p").innerHTML = zoneCodeError;
              document.querySelector("#zoneCode ").style.border = "2px solid red";
            }
            if ( !organizationId.checkValidity() ) {
              document.querySelector("#organizationId + p").innerHTML = orgIdError;
              document.querySelector("#organizationId ").style.border = "2px solid red";
            }
            return false;
          }
        }
      });
    </script>
  </body>
</html>
